node_modules/
node_modules
/.env
/__pycache__
/venv
.venv
env/
.python-version
.vscode/
.idea/
*.py[cod]
*.so
.coverage
htmlcov/
.pytest_cache/
*.sqlite3
.DS_Store
*.log
logs/
.mypy_cache/
.ipynb_checkpoints
.cache
.env.local
.env.*.local
.env.production
.aider*
opt/google/chrome/chrome
opt/google/chrome/chrome
opt/google/chrome/chrome
